
<footer class="container-fluid footer">
    Copyright &copy; 2015 <a href="http://hangwithengineers.com/" target="_blank">Hang with Engineers</a>
    <a href="#" class="pull-right scrollToTop"><i class="fa fa-chevron-up"></i></a>
</footer>


</section>


</body>
</html>