section
{
    padding-top: 4em;
    padding-bottom: 4em;
}

h3.message.success
{
    padding-bottom: 1.5em;
    color: black;
}

i.color-green
{
    /*color: #26d4d6;*/
    color: green;
}

h3.message.error
{
    padding-bottom: 1.5em;
    color: red;
}

i.color-red
{
    /*color: #26d4d6;*/
    color: red;
}