h3.message.success
{
    padding-bottom: 1.5em;
    color: black;
}

h3.message.success  i
{
    /*color: #26d4d6;*/
    color: green;
}

h3.message.error
{
    padding-bottom: 1.5em;
    color: red;
}

h3.message.error  i
{
    /*color: #26d4d6;*/
    color: red;
}