.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
       position: absolute;
       top: 50%;
       z-index: 5;
       display: inline-block;
   }

.carousel-control .fa-chevron-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .fa-chevron-right {
    right: 50%;
    margin-right: -10px;
}


@media screen and (min-width:@screen-sm-min) {

.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
    .carousel-control .fa-chevron-left
    {
        margin-left: -15px;
    }
    .carousel-control .fa-chevron-right
    {
        margin-right: -15px;
    }
}

